@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

header {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.search {
    width: 25%;
    position: relative;
    display: flex;
}
 
.searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
}

.card {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 199px;
    height: 150px;
    margin: auto;
}

.card video {
    width: 200px;
}

.card p {
    margin-bottom: 8px;
}

footer {
    display: flex;
    align-items: center;
    color: white;
    background-color: lightslategray;
    height: 40px;
    padding-left: 20px;
}

/*
 PAGINA DO VIDEO 
*/

.videoPage {
    margin: 0;
    display: flex;
    justify-content: center;
}

.video-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
}

.video-item video {
    max-width: 80vw;
    max-height: 60vh;
}

.video-item h2 {
    align-self: flex-start;
    margin-bottom: 10px;
}